<div class="container">
  <h1><%= @cocktail.name %></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Dosage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

  <% @cocktail.doses.each do |dose| %>

  <ul class="list-inline">
      <tr>
        <td> <%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
        <td><%= link_to "delete", dose_path(dose), method: :delete, data: {confirm: "ya sure?"}, class: "btn btn-primary"%></td>
      </tr>
  </ul>

  <% end %>

    </tbody>
  </table>
  <%= render 'doses/form' %>

  <%= link_to "back to the list", cocktails_path, class: "btn btn-primary" %>
</div>
