<div class="container">
  <h1><%= @cocktail.name %></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Dosage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

  <% @cocktail.doses.each do |dose| %>

      <tr>
        <td> <%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
        <td><%= link_to "", dose_path(dose), method: :delete, data: {confirm: "ya sure?"}, class: "fa fa-trash"%></td>
      </tr>

  <% end %>

    </tbody>
  </table>
  <%= render 'doses/form' %>

  <% @cocktail.reviews.each do |review| %>
    <div class="reviews">
      <div class="rating"> <%= review.rating  %></div>
      <div class="review-content"> <%= review.content  %></div>
    </div>
  <% end %>

  <%= render 'reviews/form' %>

  <%= link_to "back to the list", cocktails_path, class: "btn btn-primary" %>
</div>
